body {
	font-size: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background: darkkhaki;
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.messages {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 1000px;
	align-items: flex-end;
}
.colorBox {
	display: inline-block;
	height: 100px;
	width: 100px;
	background: grey;
} 

.container {
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	margin: 15px 0 30px;
	position: relative;
}
button {
	width: 100px;
	position: absolute;
	top: 54%;
	right: -120px;
}
.container > div {
	width: 33%;
	border: 1px solid silver;
	height: 150px;
}

.grey {
    background: grey;
}
.red {
    background: tomato;
}
.blue {
    background: deepskyblue;
}
.yellow {
    background: gold;
}